<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Skill</title>
	</head>
	<body>
		<h1><%= skill.title %></h1>
		<h2>Level: <%= skill.level %></h2>
		<form action="/skills/<%= skillId %>?_method=DELETE" method="POST">
			<input type="text" />
			<button type="submit">DELETE</button>
		</form>
		<a href="/skills">Back</a>
	</body>
</html>
